doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Photo gallery"
    script(type='text/javascript' src="js/lightbox.js")
    script(src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8")
  body
    h1 The first set of pictures
    div 
      = "\n" 
      img(src="img/pic02.jpg" alt="pic" class="js-lightbox" data-role="lightbox"
          data-source="img/pic02.jpg" data-group="group1" data-id="pic1-1"  
          width="100" height="100")
      = "\n"  
      img(src="img/pic03.jpg" alt="pic" class="js-lightbox" data-role="lightbox" 
			data-source="img/pic03.jpg" data-group="group1" data-id="pic1-2"  
            width="100" height="100")
      = "\n" 
      img(src="img/pic04.jpg" alt="pic" class="js-lightbox" data-role="lightbox" 
			data-source="img/pic04.jpg" data-group="group1" data-id="pic1-3"  
            width="100" height="100")
      h1 A second group of pictures
    div
      = "\n"
      img(src="img/pic05.jpg" alt="pic" class="js-lightbox" data-role="lightbox" 
			data-source="img/pic05.jpg" data-group="group2" data-id="pic2-1"  
            width="100" height="100")
    h1 The third group photo
    div
      = "\n"
      img(img src="img/pic11.jpg" alt="pic" class="js-lightbox" data-role="lightbox" 
			data-source="img/pic11.jpg" data-group="group3" data-id="pic3-1"  
            width="100" height="100")
      = "\n"
      img(img src="img/pic12.jpg" alt="pic" class="js-lightbox" data-role="lightbox" 
			data-source="img/pic12.jpg" data-group="group3" data-id="pic3-2"  
            width="100" height="100")
      = "\n"
      img(img src="img/pic13.jpg" alt="pic" class="js-lightbox" data-role="lightbox" 
			data-source="img/pic13.jpg" data-group="group3" data-id="pic3-3" 
            width="100" height="100")
     
     
  
      
